body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../images/Cornerstone.png);
}

header {
    background-color: #000000; /* Color de fondo */
    color: white; /* Color del texto */
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2); /* Sombra */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    max-width: 100px;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

nav li a:hover {
    background-color: white;
    color: #333;
}

.main-title {
    font-size: 36px; /* Tamaño de la fuente */
    text-align: center; /* Centrar el título */
    color: #ffffff; /* Color del texto */
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.2); /* Sombra del texto */
    margin: 0; /* Elimina el margen superior por defecto */
}

.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    
}

.intro-content {
    text-align: center;
    margin-bottom: 20px;
}

.intro-title {
    font-size: 33px;
    color: #fff; /* Cambia el color del texto a tu preferencia */
}

.intro-text {
    font-size: 22px;
    margin-top: 10px;
    color: #fff; /* Cambia el color del texto a tu preferencia */
}

.intro-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: orange; /* Color naranja */
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.intro-button:hover {
    background-color: #ff9900; /* Color naranja más claro al pasar el mouse */
}

.join-community {
    background-color: #33333393; /* Fondo transparente */
    border: 8px solid #ff9900; /* Marco de color adecuado */
    padding: 50px 0;
    text-align: center;
}

.join-title {
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.join-text {
    font-size: 22px;
    color: #fefefe; /* Color de texto */
    margin-top: 10px;
}

.social-logos {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.social-logos.show {
    opacity: 1;
    transform: translateY(0);
}

.social-logos img {
    width: 80px;
    height: 80px;
    margin: 0 30px;
    vertical-align: middle;
}

.feature-section {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.feature-card {
    flex: 1; /* Distribución uniforme de ancho entre las tarjetas */
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px; /* Bordes redondeados */
    margin: 0 10px; /* Separación horizontal entre tarjetas */
}

.feature-card img {
    max-width: 580px;
    height: 580px;
    margin-bottom: 15px;
    border-radius: 8px; /* Bordes redondeados para la imagen */
}

.feature-title {
    font-size: 24px;
    color: #333;
}

.feature-text {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
}

.feature-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: orange;
    color: #fff;
    text-decoration: none;
    border-radius: 9px;
}

/* Estilos para el logo de WhatsApp flotante */
.whatsapp-float {
    position: fixed;
    bottom: 30px; /* Ajusta la distancia desde abajo */
    right: 30px; /* Ajusta la distancia desde la derecha */
    z-index: 9999; /* Asegura que esté por encima de otros elementos */
}

.whatsapp-float img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 2px 5px rgb(0, 0, 0); /* Añade sombra al logo */
}

.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.contact-section {
    background-color: #333;
    color: #fff;
    margin-top: 20px;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;
}


.contact-card {
    background-color: #222;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out; /* Agrega una transición suave */
    width: 30%; /* Ajusta el ancho de las tarjetas según tu preferencia */
}

.contact-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Agrega sombra al pasar el mouse */
}

.contact-card img {
    max-width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.contact-card h3 {
    font-size: 18px;
}

.map-section {
    background-color: #222;
    color: #fff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.map-info {
    margin-bottom: 20px;
}

.map-container {
    max-width: 100%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.form {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('../images/fonfofORM1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.left-section {
    flex: 1;
    padding: 20px;
    color: #2b2828;
}

.right-section {
    flex: 1;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8); /* Estilo oscuro para el formulario */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.right-section h2 {
    margin-top: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sombra suave en el texto */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Fondo con transparencia */
    color: #fff;
}

button {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff9900; /* Cambio de color al pasar el mouse */
}

#enviado-mensaje {
    background-color: rgba(0, 128, 0, 0.7); /* Fondo verde para mensaje de envío */
    color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.hidden {
    display: none;
}

.image-section {
    background-image: url('../images/iWatchOfficial.png');
    background-size: cover;
    background-position: center;
    padding: 120px 0; /* Ajusta el espaciado según sea necesario */

    /* Estilos de sombra */
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    color: #fff; /* Color de texto */
    text-align: center;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 36px; /* Tamaño del título */
    font-family: 'Tu Fuente Bonita', sans-serif; /* Cambia 'Tu Fuente Bonita' por la fuente deseada */
    /* Otras propiedades de estilo para el título */
}

p {
    font-size: 18px; /* Tamaño del mini texto */
    /* Otras propiedades de estilo para el mini texto */
}

/* Estilos para hacer responsive */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column;
        text-align: center;
    }

    .contact-block {
        margin-bottom: 20px;
    }
}








